<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View all Users</title>
</head>
<body>
    <h1>View All</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.created_at }}<td>
                <td><a href="/read/{{ user.id }}">View</a> | <a href="/update/{{user.id}}">Edit</a> | <a href="/delete/{{user.id}}" >Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Create</a>
</body>
</html>